.jumbotron {
  color: rgb(241, 236, 236);
  background-color: #4d7575;
}
.card-header {
  background-color: rgb(190, 201, 192);
  font-weight: 600;
}
#train-table th,
td {
  display: inline-block;
  width: 20%;
}